[submodule "chip-sw/riscv-tests"]
	path = chip-sw-sp21/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "chip-sw/env"]
	path = chip-sw-sp21/env
	url = https://github.com/riscv/riscv-test-env.git
[submodule "chip-sw-fa22/unifiedFESVR/rs232"]
	path = chip-sw-fa22/unifiedFESVR/rs232
	url = https://github.com/FlorianBauer/rs232.git
